.left{
    width: 750px;
    float: left;
    margin-left: 250px;
    margin-top: 30px;
}
.left ul li{
    list-style-type: none;
}
.right{
    width: 300px;
    float: right;
    margin-right: 100px;
    margin-top: 30px;
}