<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-plus/lib/index.full.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css"  media="all">
    <style>
        .box{
            width: 300px;
            border: 3px solid green;
            padding: 25px;
            margin: 25px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div id="header">

    </div>
    <div class="layui-main">

        <div>
            <p style="text-align: center;font-weight:bold;font-size: 30px;">会议议程</p>
        </div>

        <div class="box">
            <div>
                <span style="font-size: 20px;">会议名称:</span>
                <span style="font-size: 18px;">3D建模</span>
            </div>
            <div>
                <span style="font-size: 20px;">会议时间:</span>
                <span style="font-size: 18px;">2021.03.28~2021.03.31</span>
            </div>
            <div>
                <span style="font-size: 20px;">主席:</span>
                <span style="font-size: 18px;">张晨星</span>
            </div>
            <div>
                <span style="font-size: 20px;">议题:</span>
                <span style="font-size: 18px;">3D建模未来发展前景</span>
            </div>
            <div>
                <span style="font-size: 20px;">详细内容:</span>
                <span style="font-size: 18px;">3D建模未来发展前景</span>
            </div>
        </div>

        <div>
            <p style="text-align: center;font-weight:bold;font-size: 30px;">分论坛列表</p>
        </div>

        <table class="layui-table search" lay-even lay-skin="nob">
            <colgroup>
                <col width="150">
                <col width="100">
                <col width="150">
                <col width="50">
            </colgroup>
            <tr>
                <th>名称</th>
                <th>时间</th>
                <th>议题</th>
                <th></th>
            </tr>
            <tr>
                <td style="font-weight: bold;">3D建模</td>
                <td>2021.03.27~2021.03.29</td>
                <td>3D建模的应用前景有哪些</td>
                <td>
                    <button type="button" class="layui-btn layui-btn-sm">参加</button>
                </td>
            </tr>
        </table>

    </div>
</body>
</html>